body{
    padding: 0;
    margin: 0;
  }
  
  .formulario {
    font-family: verdana, Tahoma, sans-serif;
    font-size: 15px;
    background-color: #efeae8;
    max-width: 600px;
  }
  h1 {
      margin-bottom: 20px;
      margin-left: 20px;
      color: #bfbcbb;
      text-shadow: 5px 5px 5px black;
  }
  input {
      width: 200px;
      padding: 5px;
      color: black;
      margin-left: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border: 1px solid;
  }
  
  input:hover, input:focus {
      border-color: #000066;
      box-shadow: 1px 0px 3px #f7f7f4;
      background-color: #b2b2ab;
      color: black;
      font-weight: bold;
  }
  .submit input {
      background-color: #666666;
      height: 30px;
      width: 80px;
      font-weight: bold;
      border-radius: 3px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border: 1px solid;
      color: black;
  }
  form label {
      margin-left: 10px;
      color: #000000;
      font-weight: bold;
  }
  .sexo input {
    width: 50px;
    padding: 5px;
    color: black;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
  
  }
  .container {
    margin: 0 auto;
    width: 940px;
  }