#logotipo {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin: 10px 10px 10px 10px;
    
}

.slogan {
    font-family: sans-serif;
    font-size: 24px;
    padding-right: 50px;
    text-align: center;
    width: 100px;
    padding-top: 10px;
}