.bg-cinza{
    background: rgb(190, 190, 190);
}

.bg-escuro{
    background: rgb(10, 10, 10);
    color: white !important;
}

header{
    padding: 40px 20px 20px 20px;
    height: 400px;
    position: relative;
}

main{
    min-height: 500px;
    padding: 20px 20px 20px 20px;
}

footer{
    height: 250px;
    padding: 20px 20px 40px 20px;
}

#img-logo{
    height: 350px;
    width: 320px;
    float: left;
    margin-right: 300px;
}

.produtos{
    width: 33%;
    min-height: 300px;
    text-align: center;
    float: left;
}

.img-produtos{
    width: 300px;
    height: 300px;
}

#img-chuteira{
    width: 300px;
    height: 200px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

.fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.img-social{
    width: 70px;
    height: 70px;
}

.div-absolute{
    position: absolute;
    height: 50px;
    background: gray;
    right: 30px;
    bottom: 0;
}

.opcao{
    font-size: 2rem;
    margin-right: 20px;
    margin-left: 20px;
    color: beige;
}

.opcao:hover{
    color: darkorange;
    transition: 1s;
}
