
header li {
    list-style: none;
}

a:link, a:visited {
    text-align: center;
    background-color: aqua;
    color: black;
    border: 1px solid black;
    display: block;
    text-decoration: none;
}

a:hover, a:active {
    background-color: bisque;
    color: blue;
}
