
/* Elemente Selector */ 
p {
    color: blue;
}
/* <p>... blue ... </p> */ 

/* Class Selector */
.blue {
    color: blue;
}
/* <p class="blue">... blue ...</p> */

/* id Selector */
#name {
    color: blue;
}
/* <div id="name">... blue ...</div> */