h1{
    color: white;
}
body{
    background-color:darkgray;
}

.border-black{
    border: solid black 5px;
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 5px 0px;
}

#cabecario{
    height: 200px;
    background-image: url("https://gz.diarioliberdade.org/media/k2/items/cache/4b653984ff2d2a889b4645842ae1ff4b_XL.jpg");
    background-size: 100% 100%;
    padding-right: 300px;
    text-align: right;
}

#corpo{
    height: 400px;
    
}

#rodape{
    height: 200px;
}

